<mat-toolbar color="primary">
<span>
    <a routerLink="" mat-button>
        <mat-icon>local_movies</mat-icon> Movies
    </a>
</span>

<div>
    <a mat-button routerLink="genres">Genres</a>
</div>

<div>
    <a mat-button routerLink="actors">Actors</a>
</div>

<div>
    <a mat-button routerLink="movietheaters">Movie theaters</a>
</div>

<div>
    <a mat-button routerLink="movies">Movie</a>
</div>

<div>
    <a mat-button routerLink="movies/search">
        <mat-icon>search</mat-icon>
        Search Movie</a>
</div>

</mat-toolbar>