<p>genre-form works!</p>
<div class="container">

    <form [formGroup]="form" (submit)="SaveChanges()">
    <mat-form-field appearance="outline">
      
           
        <mat-label>Name</mat-label>
        <input  formControlName="name" matInput placeholder="Enter Name" >
     
        <mat-error *ngIf="form.invalid">{{GetErrorMessage()}}</mat-error>
          
    </mat-form-field>

    <div>

        <button [disabled]="form.invalid" mat-flat-button color="primary">Save</button>
       <button mat-stroked-button color="primary">Cancel</button>
 
    </div>
</form>
</div>